@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	color: #fbfbf8;
	background-color: #fcfcfc;
}
button:hover {
	text-decoration: none;
}

h4 {
  font-weight: 600;
}
.card-3d-wrap {
  position: relative;
  width: 450px;
  max-width: 100%;
  height: 450px;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #2b2e38;
  position: absolute;
  border-radius: 6px;
  transform-style: preserve-3d;
}
.card-back {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}
.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}


.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;
  letter-spacing: 1px;
  align-items: center;
  background-color: #f7f6f2;
  color: #000000;
}
.btn:hover{  
  background-color: #000000;
  color: #f8a7ff;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}


.toggle-links {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #c4c3ca;
}

.toggle-links a {
    color: #1eb9ed;
    cursor: pointer;
    text-decoration: underline;
}
